<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css"></link>
    <title>Clave de sol - Índice</title>
</head>
<body>
    <div class="general__container">
        <p>
            <a class="general__container--begin" onclick="">Comenzar desde el inicio</a>
        </p>

        <form class="form">
            <ol>
                    <li class="form__list"><a href="./level1.html">Introducción</button></li>
                        <div class="form__image">
                            <img src="../views/assets/clavedo.png" alt="">
                        </div>
                    <li class="form__list"><a href="./level1.html" >Segunda línea</button></li>
                        <div class="form__image">
                            <img src="../views/assets/clavedo.png" alt="">
                        </div>
                    <li class="form__list"><a href="./level2.html" >Primera línea</button></li>
                        <div class="form__image">
                            <img src="../views/assets/clavedo.png" alt="">
                        </div>   
             </ol>
        </form>
    </div>
    
    <script src="../js/level-index.js">
    </script>
</body>
</html>